<?xml version="1.0"?>
<events>
	<event>
		<start>01/22/2013 12:00 PM</start>
		<end>01/22/2013 2:00 PM</end>
		<description>Change breaks on car</description>
	</event>
	<event>
		<start>05/22/2013 12:00 PM</start>
		<end>05/22/2013 2:00 PM</end>
		<description>Change breaks on car</description>
	</event>
	<event>
		<start>07/22/2013 12:00 PM</start>
		<end>07/22/2013 2:00 PM</end>
		<description>Change breaks on car</description>
	</event>
	<event>
		<start>09/22/2013 12:00 PM</start>
		<end>09/22/2013 2:00 PM</end>
		<description>Change breaks on car</description>
	</event>
	<event>
		<start>11/01/2013 7:00 PM</start>
		<end>11/01/2013 11:00 PM</end>
		<description>Dinner with Adrianne</description>
	</event>
	<event>
		<start>11/05/2013 12:00 PM</start>
		<end>11/05/2013 2:00 PM</end>
		<description>Computer Club Meeting</description>
	</event>	
	<event>
		<start>11/12/2013 4:40 PM</start>
		<end>11/12/2013 5:50 PM</end>
		<description>Happy hour with the Princess</description>
	</event>
	<event>
		<start>11/15/2013 2:00 PM</start>
		<end>11/15/2013 4:00 PM</end>
		<description>Nonverbal Comm Presentation</description>
	</event>
	<event>
		<start>11/27/2013 12:00 PM</start>
		<end>11/27/2013 5:00 PM</end>
		<description>Baseball game with Adrianne</description>
	</event>
	<event>
		<start>11/28/2013 12:00 AM</start>
		<end>11/28/2013 11:59 PM</end>
		<description>Thanksgiving</description>
	</event>
	<event>
		<start>12/22/2013 12:00 PM</start>
		<end>12/22/2013 2:00 PM</end>
		<description>Change breaks on car</description>
	</event>
</events>
	

